body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: red !important;
    color: white !important;
    background: url('img/0.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

#overly-behind-content {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-size: 180%;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif !important; 
}

/****************************** main text hover and other *************************************/
h1 {
    transition: all 0.15s ease-in-out;
    font-family: 'Rubik Mono One', sans-serif !important;
    word-spacing: -10px;
}

h1 span {
    font-family: 'Monoton', cursive !important;
    transition: all 0.15s ease-in-out;
}

h1:hover span{
    color: white !important;
}

h1:hover {
    color: rebeccapurple !important;
}

/****************************** buttons main *************************************/
div button {
    font-family: 'Rubik Mono One', sans-serif !important;
}

/****************************** links "a" main *************************************/
ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: white;
    transition: all 0.15s ease-in-out;
}

ul li a:hover {
    color: blueviolet;
}


/****************************** modal - search *************************************/
#modal-body {
    background-color: black;
    color: white;
}

#search-icon {
    width: 90px;
}

/* the search result */
a.addsRp--hit:hover{
    background-color: black !important;
    border: 1px solid blueviolet !important;
    border-radius: 10px !important;
}

div.addsRp--category {
    color: white !important;
    background-color: #DC4C64 !important;
}

a.addsRp--hit {
    background-color: #000000 !important;
    border: 1px solid #000000 !important;
}

.addsearch-searchresults-no-results {
    color: white !important;
    margin: 30px !important;
    text-align: center !important;
}

.addsearch-searchresults-no-results em {
    color: blueviolet !important;
}

.adds-components-srp-search-field button {
    background-color: #DC4C64 !important;
    border-radius: 5px !important;
}

.addsearch-sortby select {
    background-color: #DC4C64 !important;
    border: 1px solid #DC4C64 !important;
    border-radius: 3px !important;
}

.addsRp-searchfield input {
    border-radius: 5px !important;
    border: 1px solid #DC4C64 !important;
    background-color: #000000 !important;
    color: white !important;
}

.addsRp-searchfield input:focus {
    outline: none !important;
}

.addsRp--footer {
    border-top: 1px solid #DC4C64 !important;
    margin: 30px !important;
}

.addsearch-pagination button {
    background-color: #000000 !important;
    color: #DC4C64 !important;
    border: none !important;
}